/*bouton*/

.page_principal .boutoncontour
{
    border-radius: 35px;
    padding: 15px;
    margin: 15px auto 15px auto;
    border: 1px solid #FF79DA;
    justify-content: center;
}

/* tableau evenement */

.page_evenement table {

    border-collapse: collapse;

  }

.page_evenement table, th, td {

    border: 1px solid black;

}

/*body*/
.page_principal, .page_evenement
{
    display: flex;
    flex-direction: column;
    background-image: url("arriereplan.png");
    margin: 10px;
}
header
{
    display: flex;
    flex-direction: column;
}

header img
{
    max-width: 100%;
    height: auto;
    border-radius: 5%;
    margin: 10px 0 10px 0;
    order: 1;
}

nav
{
    width: auto;
    margin: auto;
}
nav table
{
    border-spacing: 5px;
}
section
{
    display: flex;
    flex-direction: column;
    margin: 5px;
}
section article
{
    order: 1;
    
}
section article strong
{
    order: 2;
}
section ul
{
    order: 3;
}

footer
{
    display: flex;
    flex-direction: column;
}
footer p
{
    order: 1;
}
footer a
{
    order: 2;
}